In [9]:
import pandas as pd
import matplotlib.pyplot as plt

title=pd.read_csv("data/title.akas.tsv",sep = "\t")
name=pd.read_csv("data/name.basics.tsv",sep="\t")
criterion=pd.read_csv("data/criterion.csv",sep=",")

In [10]:
print(title.shape)
print(name.shape)
print(criterion.shape)

(54290886, 8)
(14768112, 6)
(1805, 5)

In [11]:
criterion

,spine,title,director,country,year
0,1.0,Grand Illusion,Jean Renoir,"France,",1937.0
1,2.0,Seven Samurai,Akira Kurosawa,"Japan,",1954.0
2,3.0,The Lady Vanishes,Alfred Hitchcock,"United Kingdom,",1938.0
3,4.0,Amarcord,Federico Fellini,"Italy,",1973.0
4,5.0,The 400 Blows,François Truffaut,"France,",1959.0
...,...,...,...,...,...
1800,NaN,Mangrove,Steve McQueen,"United Kingdom,",2020.0
1801,NaN,The Traveler,Abbas Kiarostami,"Iran,",1974.0
1802,NaN,The Gospel According to Matthew,Pier Paolo Pasolini,"Italy,",1964.0
1803,NaN,Gervaise,René Clément,"France,",1956.0
1804,NaN,Homework,Abbas Kiarostami,"Iran,",1989.0

In [12]:
title

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Carmencita,\N,\N,original,\N,1
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita,US,\N,imdbDisplay,\N,0
3,tt0000001,4,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
4,tt0000001,5,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
54290881,tt9916852,7,エピソード #3.20,JP,ja,\N,\N,0
54290882,tt9916852,8,Episodio #3.20,ES,es,\N,\N,0
54290883,tt9916856,1,The Wind,\N,\N,original,\N,1
54290884,tt9916856,2,The Wind,DE,\N,imdbDisplay,\N,0
54290885,tt9916880,1,Horrid Henry Knows It All,\N,\N,original,\N,1

In [15]:
name

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"actor,miscellaneous,producer","tt0072308,tt0050419,tt0027125,tt0025164"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack,archive_footage","tt0037382,tt0075213,tt0038355,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
3,nm0000004,John Belushi,1949,1982,"actor,writer,music_department","tt0072562,tt0077975,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"
...,...,...,...,...,...,...
14768107,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt11657662,tt14069590,tt2455546"
14768108,nm9993716,Essias Loberg,\N,\N,\N,\N
14768109,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
14768110,nm9993718,Aayush Nair,\N,\N,cinematographer,tt8736744
14768111,nm9993719,Andre Hill,\N,\N,\N,\N

In [13]:
filtered_df = title[title["title"].isin(criterion["title"])]

In [14]:
filtered_df

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
1060,tt0000225,2,Beauty and the Beast,US,\N,\N,\N,0
1369,tt0000306,2,Hamlet,FR,\N,\N,short title,0
2415,tt0000564,4,Oliver Twist,DK,\N,imdbDisplay,\N,0
2564,tt0000598,1,Hamlet,\N,\N,original,\N,1
2565,tt0000598,2,Hamlet,FR,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
54275373,tt9910486,1,The Seventh Victim,\N,\N,original,\N,1
54275640,tt9910622,1,La ronde,\N,\N,original,\N,1
54286873,tt9914782,1,Weekend,\N,\N,original,\N,1
54286874,tt9914782,2,Weekend,IT,\N,imdbDisplay,\N,0
54289596,tt9916086,1,Carnival of Souls,\N,\N,original,\N,1

In [16]:
# build a set of titleIds we care about (fast lookup)
valid_title_ids = set(filtered_df["titleId"])

# function: does this person have at least one matching title?
def has_matching_title(known_for):
    if known_for == r"\N":
        return False
    return any(t in valid_title_ids for t in known_for.split(","))

# filter name dataframe
actors_subset = name[name["knownForTitles"].apply(has_matching_title)]

In [17]:
actors_subset

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,producer,soundtrack","tt0034583,tt0038109,tt0036855,tt0038787"
7,nm0000008,Marlon Brando,1924,2004,"actor,director,writer","tt0078788,tt0068646,tt0047296,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,director","tt0061184,tt0087803,tt0057877,tt0059749"
...,...,...,...,...,...,...
14768065,nm9993670,Ken Hallen,\N,\N,stunts,tt0969307
14768066,nm9993671,Marko Lampinen,\N,\N,transportation_department,tt0969307
14768067,nm9993672,Simone Hulsemann,\N,\N,miscellaneous,tt0969307
14768068,nm9993673,Petra Jarosova,\N,\N,miscellaneous,tt0969307
14768069,nm9993674,Kerli Raag,\N,\N,miscellaneous,tt0969307

In [18]:
actors_subset = actors_subset[
    actors_subset["primaryProfession"].str.contains(
        r"\bactor\b|\bactress\b",
        case=False,
        na=False
    )
]

In [20]:
actors_subset

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
2,nm0000003,Brigitte Bardot,1934,\N,"actress,music_department,producer","tt0057345,tt0049189,tt0056404,tt0054452"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0069467,tt0083922,tt0050976"
5,nm0000006,Ingrid Bergman,1915,1982,"actress,producer,soundtrack","tt0034583,tt0038109,tt0036855,tt0038787"
7,nm0000008,Marlon Brando,1924,2004,"actor,director,writer","tt0078788,tt0068646,tt0047296,tt0070849"
8,nm0000009,Richard Burton,1925,1984,"actor,producer,director","tt0061184,tt0087803,tt0057877,tt0059749"
...,...,...,...,...,...,...
14763945,nm9988673,Kevin Rooney,\N,\N,actor,tt0076995
14765724,nm9990616,Abraham Neme,\N,\N,actor,tt3275262
14766450,nm9991648,Juliette Valdez,\N,\N,"actress,writer,producer","tt16091856,tt12954074,tt12976056,tt23219096"
14766795,nm9992085,Fernando Grediaga,\N,\N,actor,tt6155172
14766820,nm9992117,Alexandra McDonald,\N,\N,"actress,director,writer","tt9618458,tt24328976,tt9083140"

In [21]:
actors_subset["primaryProfession"].value_counts().head()
actors_subset.shape

(98551, 6)

In [23]:
actors_subset.to_csv("data/coarseCriterionActors.csv")
filtered_df.to_csv("data/coarseCriterionMovies.csv")

In [ ]:
from collections import defaultdict
import queue
import copy
class ActorNetwork:

    def __init__(self):
        """ Creates an actor network object """
        self.costars = defaultdict(set) # actor(string) to acted with (set<string>)
        self.movies  = defaultdict(set) # actor(string) to movies starred in (set<string>)
        
    def getNumActors(self): return len(self.costars)
    
    def getNumConnections(self):
        """ Find the number of edges in a given actor network """
        numEdges = 0
        for _,v in self.costars.items(): numEdges += len(v)
        return int(numEdges/2)
                
    def loadDataSet(self, pthToActorFile,pthToMovieFile):
        """ Given file name of a dataset """
        
        moviedf = pd.read_csv(pthToMovieFile, sep = ",")
        actordf = pd.read_csv(pthToActorFile, sep = ",")
        # movieDict <movieTitle> -> <set<actors>>
        
        for row,col in actordf.iterrows():
            actor = col["primaryName"]
            titles = col["knownForTitles"].split(",")
            for movie in titles:
                # TODO: find all actors in the specific movie using pandas
                from collections import deque
                
                actors = deque()
                
                for nconst in actors_subset.loc[
                    actors_subset["knownForTitles"].str.split(",")
                    .apply(lambda ids: movie in ids),
                    "nconst"
                ]:
                    actors.append(nconst)


                self.addMovie(movie,actors)
        
        
        
    def addMovie(self, movie, actors):
        """ Add a movie (string) and a set<actors> string to the network """
        processed = set()
        yetToProcess = actors
        #print(yetToProcess)
       # import pdb;pdb.set_trace()
        while yetToProcess: # Is only true when actors is non-empty
            actor = yetToProcess.popleft()
            
            s = set()
            q= copy.deepcopy(yetToProcess)
            while len(q)!=0:
                s.add(q.popleft())
                
            self.costars[actor] = self.costars[actor].union(s).union(processed)
            self.movies[actor].add(movie)
            processed.add(actor)
    
    def BFS(self,actor):
        Q = queue.SimpleQueue()
        Q.put(actor)
        parent={}
        visited = {}
        for act in self.costars:
            visited[act]=False
            parent[act]=None
        visited[actor] = True
    
        while(not Q.empty()):
            u = Q.get()
        
            for v in self.costars[u]:
                if(visited[v]==False):
                    parent[v] = u
                    Q.put(v)
                    visited[u]=True
        return parent


    def biBFS(self,actor1,actor2):
       # print("got here")
        Q1 = queue.SimpleQueue()
        Q1.put(actor1)

        Q2 = queue.SimpleQueue()
        Q2.put(actor2)

        parent1 = {}
        parent2 = {}

        visited1 = {}
        visited2 = {}
        for a in self.costars:
            visited1[a] = False
            visited2[a] = False
            parent1[a] = None
            parent2[a] = None
        visited1[actor1]=True
        visited2[actor2] = True
        found = False
       # print("got here")
        #import pdb;pdb.set_trace()
        while(not Q1.empty() or Q2.empty()):
            
            if(not Q1.empty()):
                u = Q1.get()
                for v in self.costars[u]:
                    
                    if(visited1[v] ==False):
                        visited1[v]==True
                        parent1[v] = u

                        if(visited2[v]==True):
                            print("here")
                            found=True
                            break
                        Q1.put(v)

            if(not Q2.empty()):
                u = Q2.get()
                for v in self.costars[u]:
                    if(visited2[v] ==False):
                        visited2[v]==True
                        parent2[v] = u

                        if(visited1[v]==True):
                            print("here")
                            found=True
                            
                            break
                        Q2.put(v)
            if(parent1[v] != None and parent2[v]!=None):
                found = True
            return found,parent1,parent2,v
            






    
    def getShortestPath(self,actor1,actor2):
        startT = time.time()
        p = self.BFS(actor1)
       
        if(actor2 not in p):
            print(actor2 +" is not in the database")
            return
        if(p[actor2]==None):
            print(actor2 + " is not connected to "+actor1)
            return
        curract = actor2
        movie = []
        actor = [actor2]
        while(curract!=actor1):
            s= p[curract]
            actor.append(s)
            l = list(self.movies[s].intersection(self.movies[curract]))
            movie.append(l[0])
            curract = s
        endT = time.time()
        print(endT-startT)
        return actor,movie

    # def biBFSGetShortestPath(self,actor1,actor2):
    #     startT = time.time()
    #     p1,p2,x = self.biBFS(actor1,actor2)
    #     if(not actor1 in self.costars):
    #         print(actor1+ " is not in the database")
    #     if(not actor2 in self.costars):
    #         print(actor2 +" is not in the database")
        
    #     if(p[actor2]==None):
    #         print(actor2 + " is not connected to "+actor1)
    #         return
    #     curract = actor2
    #     movie = []
    #     actor = [actor2]
    #     while(curract!=actor1):
    #         s= p[curract]
    #         actor.append(s)
    #         l = list(self.movies[s].intersection(self.movies[curract]))
    #         movie.append(l[0])
    #         curract = s
    #     endT = time.time()
    #     print(endT-startT)
    #     return actor,movie
        
    def visualize_network(self):
        """ Visualize the actor network using NetworkX and Matplotlib """
        G = nx.Graph()
        
        # Add nodes (actors)
        for actor in self.costars:
            G.add_node(actor)
        
        # Add edges (costar relationships)
        for actor, costars in self.costars.items():
            for costar in costars:
                G.add_edge(actor, costar)
        
        # Create a circular layout for visualization
        pos = nx.circular_layout(G)
        
        # Draw the graph
        plt.figure(figsize=(10, 8))
        nx.draw(G, pos, with_labels=True, node_color='lightblue', 
                node_size=500, font_size=8, font_weight='bold', 
                edge_color='gray')
        
        # Add title and display
        plt.title("Actor Network Visualization")
        plt.show()

In [ ]:
an=ActorNetwork()
an.loadDataSet("data/coarseCriterionActors.csv","data/coarseCriterionMovies.csv")